<div>
  <input
    type="{{ type }}"
    [class.is-invalid]="control.touched && control.invalid"
    class="form-control w-100"
    [formControl]="control"
    placeholder="{{ label }}"
  />
  @if (control.touched && control.errors?.['required']) {
    <div class="invalid-feedback">
      Please enter a {{ label }}
    </div>
  }
  @if (control.touched && control.errors?.['minlength']) {
    <div class="invalid-feedback">
      {{ label }} must be at least {{ control.errors?.['minlength'].requiredLength }} characters
    </div>
  }
  @if (control.touched && control.errors?.['maxlength']) {
    <div class="invalid-feedback">
      {{ label }} must be at most {{ control.errors?.['maxlength'].requiredLength }} characters
    </div>
  }
  @if (control.touched && control.errors?.['notMatching']) {
    <div class="invalid-feedback">
      Passwords do not match
    </div>
  }
</div>
