<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr />

  <!-- Gender Input -->
   <div class="mb-3">
    <label class="me-3">I am a:</label>
    <label class="form-check-label me-3">
      <input type="radio" class="form-check-input" value="male" formControlName="gender"> Male
    </label>
    <label class="form-check-label">
      <input type="radio" class="form-check-input" value="female" formControlName="gender"> Female
    </label>
   </div>

  <!-- Username Input -->
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="bi bi-person"></i>
      </span>
    </div>
    <app-text-input
      [formControl]="$any(registerForm.controls['username'])"
      label="Username"
      style="flex: 1;"
    ></app-text-input>
  </div>

  <!-- Known As Input -->
  <div class="mb-3">
    <app-text-input
      [formControl]="$any(registerForm.controls['knownAs'])"
      label="Known As"
    ></app-text-input>
  </div>

  <!-- Date of Birth Input -->
  <div class="mb-3">
    <app-date-picker
    [formControl]="$any(registerForm.controls['dateOfBirth'])"
    label="Date of Birth"
    [maxDate]="maxDate"></app-date-picker>
  </div>

  <!-- City Input -->
  <div class="mb-3">
    <app-text-input
      [formControl]="$any(registerForm.controls['city'])"
      label="City"
    ></app-text-input>
  </div>

  <!-- Country Input -->
  <div class="mb-3">
    <app-text-input
      [formControl]="$any(registerForm.controls['country'])"
      label="Country"
    ></app-text-input>
  </div>

  <!-- Password Input -->
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="bi bi-lock"></i>
      </span>
    </div>
    <app-text-input
      [type]="showPassword ? 'text' : 'password'"
      [formControl]="$any(registerForm.controls['password'])"
      [label]="'Password'"
      class="w-75"
    ></app-text-input>
    <div class="input-group-append">
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="togglePasswordVisibility()"
      >
        <i class="bi {{ showPassword ? 'bi-eye-slash' : 'bi-eye' }}"></i>
      </button>
    </div>
  </div>

  <!--Confirm Password Input -->
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="bi bi-lock"></i>
      </span>
    </div>
    <app-text-input
      [type]="showConfirmPassword ? 'text' : 'password'"
      [formControl]="$any(registerForm.controls['confirmPassword'])"
      [label]="'Confirm Password'"
      class="w-75"
    ></app-text-input>
    <div class="input-group-append">
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="toggleConfirmPasswordVisibility()"
      >
        <i class="bi {{ showConfirmPassword ? 'bi-eye-slash' : 'bi-eye' }}"></i>
      </button>
    </div>
  </div>

  @if (validationErrors) {
    <div class="row">
      <ul class="text-danger">
        @for (error of validationErrors; track $index) {
          <li>
            {{ error }}
          </li>
        }
      </ul>
    </div>
  }

  <!-- Buttons -->
  <div class="text-center">
    <button [disabled]="registerForm.invalid" class="btn btn-dark me-2" type="submit">Register</button>
    <button class="btn btn-outline-secondary" type="button" (click)="cancel()">
      Cancel
    </button>
  </div>
</form>
